html {
    box-sizing: border-box;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.input-wrapper {
    margin-top: 40px;
    text-align: center;
}

.target {
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1e63c9;
}

.execute,
.copy-button {
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background: #1e63c9;
    border: 1px solid #1e63c9;
}

.copy-button {
    width: min-content;
}

.execute:hover, .copy-button:hover {
    cursor: pointer;
    background: #1b5bb9;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.sub-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.note {
    margin-bottom: 10px;
}

.samples-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 80px auto;
}

.pixel {
    background-color: #000;
    width: 200px;
    height: 200px;
}

.result-wrapper {
    visibility: hidden;
    width: 80%;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterDetail,
.lossDetail {
    text-align: center;
    margin-bottom: 10px;
}

.copy-successful {
    background: #1cad51;
    border: 1px solid #1cad51;
}

.copy-successful:hover {
    background: #1cad51;
    border: 1px solid #1cad51;
}

.copy-failed {
    background: #b81d1d;
    border: 1px solid #b81d1d;
}

.copy-failed:hover {
    background: #b81d1d;
    border: 1px solid #b81d1d;
}


